
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.navbody {
  background-color: black;
  /* border: 1px solid red; */
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  width: 75%;
  /* border: 1px solid red; */
  margin: auto;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);
}
nav {
  margin-top: 80px;
  margin-left: -50%;
}

nav a {
  color: var(--textColor);
  text-decoration: none;
  /* border: 1px solid red; */
  font-size: 16px;
  width: 200px;
  font-weight: 400;
  color: white;
  margin-left: 10%;
}

nav a:hover {
  color: var(--secondaryColor);
}

header .nav-btn {
  padding: 5px;
  width:10%;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
}

.shopkart {
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 275px;
  color: rgba(255, 255, 255, 1);
}
.uline {
  border: 5px solid red;
  margin: auto;
  height: 2px;
  margin-top: 62px;
  width: 100%;
  color: white;
  background-color: white;
}
@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
    background-color: aliceblue;
  }

  nav {
    margin-top: 1vw;
    margin-left: 0%;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    gap: 1.5rem;
    background-color: black;
    /* background-color: var(--mainColor); */
    transition: 1s;
    transform: translateY(-100vh);
  }

  header .responsive_nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 1rem;
    right: 6rem;
    color: rgb(18, 18, 18);
  }

  nav a {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

@media all and (max-width: 391px) {
  .navbody {
    width: 950px;
  }
}
@media only screen and (max-width: 720px){
  .navbody {
    width: 99%;
  }
  
}
